body {
  font-family: Arial, sans-serif;
  background-color: #f0d146;
  margin: 0;
  padding: 0;
}
.container {
  width: 60%;
  margin: 50px auto;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
}
h1 {
  text-align: center;
  color: #333;
}

.box {
  border-top: 1px solid #ddd;
  padding: 10px 0px;
}
.question {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  color: #333;
  position: relative;
}
.q-text {
  flex: 1;
}
.answer {
  display: none;
  padding: 10px 0;
  color: #666;
  animation: slideDown 0.3s ease-out;
}
.arrow {
  font-size: larger;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.slideDown {
  animation: slideDown 0.3s ease-out forwards;
}

.slideUp {
  animation: slideUp 0.3s ease-out forwards;
}

@keyframes slideDown {
  from {
    max-height: 0;
    opacity: 0;
  }
  to {
    max-height: 200px;
    opacity: 1;
  }
}
@keyframes slideUp {
  from {
    max-height: 200px;
    opacity: 1;
  }
  to {
    max-height: 0;
    opacity: 0;
  }
}
